[buildout]
develop = .

# buildout options
show-picked-versions = true
newest = false
download-cache = ${buildout:directory}/downloads
log-level = INFO

# conda
# offline: make sure all deps are in environment.yml
conda-offline = true
conda-channels = birdhouse conda-forge defaults
channel-priority = true

## extensions

# use python site-packages
# https://pypi.python.org/pypi/buildout.locallib/
extensions = buildout.locallib

parts =
    pywps
    copernicus

[settings]
hostname = localhost
http-port = 5000
https-port = 5002
output-port = 8090
log-level = WARN
prefix = ${environment:HOME}/birdhouse
user =
etc-user =
project = Copernicus Demo
version = 0.1
archive-root =
esmval-root = ${buildout:directory}/../ESMValTool

[environment]
recipe = collective.recipe.environment

[copernicus]
recipe = zc.recipe.egg
eggs =
     copernicus
interpreter = python

[pywps]
recipe = birdhousebuilder.recipe.pywps
# name of our wps
name = copernicus
# deployment options
prefix = ${settings:prefix}
user = ${settings:user}
etc-user = ${settings:etc-user}
# service options
hostname = ${settings:hostname}
http-port = ${settings:http-port}
https-port = ${settings:https-port}
http-output-port = ${settings:output-port}
loglevel = ${settings:log-level}
workers = 3
worker-class = sync
# wps options
title = ${settings:project}
abstract = WPS processes for testing and demos.
keywords = WPS, PyWPS, Birdhouse, Python, ESMValTool, Copernicus
provider-name = Birdhouse/${settings:project}
provider-url = https://github.com/cehbrecht/copernicus-wps-demo
parallelprocesses = 10
maxprocesses = 30
maxrequestsize = 30mb
logformat = %(asctime)s] [%(levelname)s] %(message)s
# database
database = sqlite
# extra options
extra-options =
    esmval_root=${settings:esmval-root}
    archive_root=${settings:archive-root}


[pytest]
recipe = zc.recipe.egg
eggs =
    pytest
    ${copernicus:eggs}
